.skills-section {
  background: white;
  width: 50%;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.progress.web span {
  width: 80%;
}

.progress.java span {
  width: 60%;
}

.progress.python span {
  width: 40%;
}

.progress.cplusplus span {
  width: 30%;
}

.skills {
  display: grid;
  height: 100%;
  place-items: center;
}

.skills-section .bar:first-child {
  margin-top: 0px;
}

.info {
  margin-bottom: 10px;
}

.skills-section .bar {
  margin: 20px;
}

.skills-section .bar .info span {
  font-size: 17px;
  font-weight: 500;
}

.skills-section .bar .progress {
  height: 13px;
  border-radius: 10px;
  width: 100%;
  transform: scaleX(0);
  position: relative;
  transform-origin: left;
  background: lightgray;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress span {
  height: 100%;
  background: cyan;
  border-radius: 10px;
  position: absolute;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.bar .progress span::before {
  position: absolute;
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  background: black;
}

.bar .progress span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: white;
  font-size: 12px;
  background: black;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
}

.bar .progress.web span::after {
  content: "80%";
}

.bar .progress.java span::after {
  content: "60%";
}

.bar .progress.python span::after {
  content: "40%";
}

.bar .progress.cplusplus span::after {
  content: "30%";
}
